.tabs {
  height: 100%;
  display: flex;
  background-color: var(--container-color);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: var(--shadow);
  color: var();
}

.tab__list {
  width: 15rem;
}

.tab__panel {
  flex: 1;
  display: none;
  padding: 1.5rem 2rem;
}
.tab__panel.is-active {
  display: block;
}

.button {
  display: inline-block;
  width: 100%;
  padding: 1rem 2rem;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--normal-font-size);
  color: var(--first-color);
  text-align: left;
}

.tab:first-child .button {
  border-top-left-radius: var(--border-radius);
}

.tab:last-child .button {
  border-bottom-left-radius: var(--border-radius);
}

.button:focus,
.button:hover {
  outline: 0;
  background: rgb(249, 123, 139);
  color: #fff;
}

.tab.is-active .button {
  background: var(--first-color);
  color: #fff;
}
