@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-['Nunito_Sans'];
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

ul.experience li {
    position: relative;
} 

ul.experience li:before {    
    font-family: 'FontAwesome';
    content: "▹";
    position: absolute;
    left: 0px;
    color: #ffa500;
}